
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html{
    height: 100%;
}
body{
    background-color: #16161a;
    height: 100%;
    font-family: "Quicksand";
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
    height: 100%;
}

.recuadro-login{
    width: 60%;
    background:#94a1b2 ;
    height: 50%;
    border-radius: 20px;
    display: flex;
    box-shadow: 8px 13px 29px -2px rgba(0,0,0,0.78);
-webkit-box-shadow: 8px 13px 29px -2px rgba(0,0,0,0.78);
-moz-box-shadow: 8px 13px 29px -2px rgba(0,0,0,0.78);
}
.formlogin{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-inputs{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
label{
    color: white;
    margin-bottom: 5px;
    width: 70%;
}
input{
    border-radius: 20px;
    width: 70%;
    height: 40px;
    border: none;
    padding: 0px 20px;
}

button{
    border-radius: 20px;
    margin-top: 20px;
    width: 337px;
    background-color: #7f5af0;
    border: none;
    font-family: "Quicksand";
    color: white;
    height: 40px;

}

.imgform {
    width: 50%;
    background-image:url(https://i.ibb.co/Q99SP6b/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
   
